<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>layout</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <nav>
          
           <ul>
               <li>Sign In</li>
               <li>Create An Account</li>
               <li>Contact</li>    
           </ul>
        </nav>
        <header>
            <section>
               <figure><img src="" alt="logo"></figure>   
            </section>
            <section>
                <h1>Name</h1>
            </section>
            <section>
                <h1>Call 1-800</h1>
            </section>
        </header>
        <section>
            <ul>
                <li>Packages</li>
                <li>Destinations</li>
                <li>Flights</li>
                <li>Acommodations</li>
            </ul>
        </section>
        <main>
           <section>
           <h2>Featured Packages</h2>
            <figure><img src="" alt=""><figcaption><h3>lorem ipsum</h3></figcaption></figure>
            <figure><img src="" alt=""><figcaption><h3>lorem ipsum</h3></figcaption></figure>
            <figure><img src="" alt=""><figcaption><h3>lorem ipsum</h3></figcaption></figure>
            <figure><img src="" alt=""><figcaption><h3>lorem ipsum</h3></figcaption></figure>
            </section>
            <section>
               <h2>Featured Destination</h2>
                <figure><img src="#" alt="#"><figcaption><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h3></figcaption></figure>
                <img src="#" alt="image">
                <img src="#" alt="image">
                <img src="#" alt="image">
                <img src="#" alt="image">
                <img src="#" alt="image">
                <img src="#" alt="image">
            </section>
            <section>
                <p>time zone map calculator weather</p>
            </section>
            <section>
                <h1>ad</h1>
            </section>
            <section>
                <h1>ad</h1>
            </section>
        </main>
    </body>
</html>