<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>layout</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header>
            <section>
               <figure><img src="" alt="logo"></figure>   
            </section>
            <section>
                <h1>Name</h1>
            </section>
            <section>
                <h1>Call 1-800</h1>
            </section>
        </header>
        <nav>
            <li>Packages</li>
            <li>Destinations</li>
            <li>Flights</li>
            <li>Acommodations</li>
        <!--Implement Searchbar Here-->
        <main>
           <section>
           <h2>Featured Packages</h2>
            <figure><img src="" alt=""><figcaption><h3>lorem ipsum</h3></figcaption></figure>
            <figure><img src="" alt=""><figcaption><h3>lorem ipsum</h3></figcaption></figure>
            <figure><img src="" alt=""><figcaption><h3>lorem ipsum</h3></figcaption></figure>
            <figure><img src="" alt=""><figcaption><h3>lorem ipsum</h3></figcaption></figure>
            </section>
            <h2>Featured Destination</h2>
            <section><figure><img src="" alt=""><figcaption><h3>lorem ipsum</h3></figcaption></figure>
            </section>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <section>
                <img src="" alt="">
                <h1></h1>
                <h1></h1>
            </section>
        </main>
        </nav>
    </body>
</html>