@charset "utf-8";
body {
    background: rgba(165, 23, 23, 0.76);
}
.grid {
    width: 80%;
    height: 100vh;
    margin: auto;
    background: white;

    
    display: grid;
    grid-template-areas: 
        "a b c"
        "d e f"
        "g h i"
}
.grid-item {
    border: 1px solid black;
}
.grid-item:nth-child(1) {
    grid-area: b; 
}
.grid-item:nth-child(2) {
    grid-area: d;
}
.grid-item:nth-child(3) {
    grid-area: f;
}
.grid-item:nth-child(4) {
    grid-area: h;
}