body{
    background: #820088;
}
h1, h2, p, img {
    color: gold;
}
nav {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 1px;
}
nav a {
    text-decoration: none;
    margin: auto;
}
nav a ul {
    color: gold;
    text-decoration: none;
    height: 50px;
    width: 266px;
}
nav a ul:hover {
    color: #988def;
    background: #8d0303;
}
nav a li {
    margin-right: 230px;
    list-style-type: none;
}
nav a ul:nth-child(1) {
    border: 1px solid gold;
    margin-right: 10px;
}
nav a ul:nth-child(2) {
    border: 1px solid gold;
}
nav a ul:nth-child(3) {
    border: 1px solid gold;
}
nav a ul:nth-child(4) {
    border: 1px solid gold;
}
header{
    border: 1px solid gold; 
}
main{
    border: 1px solid gold;
    margin-top: 10px;
}