body {
    background: purple;
}
h1, h2, p, img {
    color: gold;
}
header {
    border: 1px solid gold;
    display: flex;
    margin: auto;
    padding-bottom: 10px;
}
nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 1px;
    margin: auto;
}
nav li {
    list-style-type: none;
    padding-right: 10px;
}
nav li a {
    border: 1px solid gold;
    text-decoration: none;
    color: gold;
}
nav li a:hover {
    color: #00fdf3;
    background: #2c1ab7;
}
main {
    margin-top: 10px;
    margin-bottom: 10px;
}
main section {
    border: 1px solid gold;
    margin-right: 10px;
    margin-bottom: 10px;
}
footer {
    border: 1px solid gold;
    margin-top: 155px;
}
