body {
    background: #ff0000;
}
h1, h2, p, img {
    color: gold;
}
header {
    border: 1px solid gold;
    display: flex;
    margin: auto;
}
nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 1px;
    margin: auto;
}
nav a {
    text-decoration: none;
}
nav a ul {
    color: aliceblue;
    height: 50px;
    width: 260px;
}
nav a ul li {
    list-style-type: none;
}
nav a ul:hover {
    color: #988def;
    background: #8d0303;
}
nav a ul:nth-child(1) {
    border: 1px solid gold;
    margin-right: 10px;
}
nav a ul:nth-child(2) {
    border: 1px solid gold;
}
nav a ul:nth-child(3) {
    border: 1px solid gold;
}
nav a ul:nth-child(4) {
    border: 1px solid gold;
}
main {
    margin-top: 10px;
    margin-bottom: 10px;
}
main section:nth-child(1) {
    border: 1px solid gold;
    margin-right: 10px;
    margin-bottom: 10px;
}

main section:nth-child(2) {
    border: 1px solid gold;
    margin-right: 10px;
}
footer {
    border: 1px solid gold;
    margin-top: 155px;
}
