body {
    background: purple;
}
h1, h2, p, img {
    color: gold;
}
header {
    border: 1px solid gold;
    display: flex;
    margin: auto;
    padding-bottom: 10px;
}
main {
    margin-top: 10px;
    margin-bottom: 10px;
}
main section {
    border: 1px solid gold;
    margin: 10px;
    padding-bottom: 10px;
}
footer {
    border: 1px solid gold;
    margin-top: 10px;
}
footer a {
    text-decoration: none;  
    color: wheat;
}
footer a:hover {
    text-decoration: none;  
    color: green;
}
