@charset "utf-8";
body {
    background: green;
    width: 800px;
    height: 1000px;
    margin: auto;
}
h1 {
    font-weight: 100;
}
time {
    font-weight: bold;
}
h2 {
    font-weight: 100;
}
p {
   font-size: 100; 
}
hr {
    color: aqua;
    width: auto;
    height: 3px;
}
article {
    padding: 1px;
}

.test {
    border: 3px solid black;
}
