@charset 'utf-8';
body {
    background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Roboto', sans-serif;
padding: 10px;
}
body h1 {
color: white;
text-shadow: 1px 1px #000;
font-size: 25pt;
}
.hero-Container {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid white;
    margin: 5px;
    padding: 10px;
}
.heroImg {
    width: 30%;
    margin-bottom: 10px;
}
.hero-buttons button {
    padding: 10px;
    text-shadow: 1px 1px 0px black;
    color: white;
    text-transform: uppercase;
    outline:  none;
}

.hp {
    color: red;
}
.mana {
    color: blue;
}
.hero-buttons {
    border: 3px solid white;
}
.hero-buttons button:before {
    content:"> ";

}
.hero-buttons button:after {
    content: "!";
}
.hero-buttons button:nth-child(1) {
    background-color: red;
}
.hero-buttons button:nth-child(2) {
    background-color: blue;
}
.hero-buttons button:nth-child(3) {
    background-color: orange;
}
.btnGameOver {
    background-color: grey !important;
    pointer-events: none;
}
.disableBtnRestart {
    pointer-events: none;
}
.btnRestart {
    text-transform: uppercase;
    height: 0px;
    width: 100px;
    margin: 10px;
    outline: none;
    background-image: linear-gradient(to right, red, blue, darkgreen);
    text-shadow: 1px 1px 0px black;
    color: white;
    font-weight: bold;
    font-size: 0px;
    font-family: "ninito", "sans-serif";
    opacity: 0;
    border-radius: 100px;
    transition: all 2s;
}
