<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout1</title>
    <link rel="stylesheet" href="../layout1/assets/css/main.css">
</head>
<body>
    <header><h1>Top Header Illustration With Site Name</h1></header>
    <nav>Top Menu Links</nav>
    <section class="main">
        <li class="do">
            <ul><p>1</p></ul>
            <ul><p>2</p></ul>
            <ul><p>3</p></ul>
        </li>
        <li class="eo">
            <ul><p>4</p></ul>
            <ul><p>5</p></ul>
            <ul><p>6</p></ul>
            <ul><p>7</p></ul>
        </li>
    </section>
    <footer><p>Site Footer Area(Copyright, Info, Bottom Links, etc)</p></footer>
</body>
</html>