<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout1</title>
    <link rel="stylesheet" href="../layout1/assets/css/main.css">
</head>
<body>
    <section class="wrapper">
        <header><h1>Top Header Illustration With Site Name</h1></header>
        <nav>Top Menu Links</nav>
        <main class="main">
           <section class="do">
            <li>
                <ul><p>1</p></ul>
                <ul><p>2</p></ul>
                <ul><p>3</p></ul>
            </li>
        </section>
        <section class="gk">
            <li>
                <ul><p>4</p></ul>
                <ul><p>5</p></ul>
                <ul><p>6</p></ul>
               <section class="flex">
                 <ol>
                <ul><p>7</p></ul>
                <ul><p>8</p></ul>
                </ol>
                </section>
            </li>
        </section>
        </main>
    <footer><p>Site Footer Area(Copyright, Info, Bottom Links, etc)</p></footer>
    </section>
</body>
</html>