
header {
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav ul li {
    padding: 10px;
}
.center {
    background: #dcdcdc;
    display: grid;
    justify-content: center;
}
.Pictures {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 75%;
    margin: auto;
}
footer {
    background: #dcdcdc;
    display: flex;
    height: 200px;
    border-top: 2px solid black;
}