    <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header>
            <img src="https://via.placeholder.com/150" alt="">
        </header>
            <nav>
               <ul>
                    <li>Placeholder</li>
                    <li>Placeholder</li>
                    <li>Placeholder</li>
                    <li>Placeholder</li>
               </ul>
            </nav>
        <main class="center">
        <section>
            <img src="assets/images/leo-rivas-25956-unsplash.png" alt="">
            <h2></h2>
        </section>
        </main>
        <section class="Pictures">
            <figure><img src="assets/images/karl-fredrickson-15871-unsplash3.png" alt="">
            <figcaption><h3>Ett magnolia träd</h3></figcaption>
            </figure>
            <figure><img src="assets/images/niko-photos-333391-unsplash.png" alt="">
            <figcaption><h3>Ett fint träd</h3></figcaption>
            </figure>
            <figure><img src="assets/images/henry-be-341670-unsplash.png" alt="">
            <figcaption><h3>Det är en fin kontrast</h3></figcaption>
            </figure>
            <figure><img src="assets/images/eberhard-grossgasteiger-421475-unsplash.png" alt="">
            <figcaption><h3>Berg och dalar</h3></figcaption>
            </figure>
            <figure><img src="assets/images/oldskool-photography-116514-unsplash.png" alt="">
            <figcaption><h3>En plateau med sjö</h3></figcaption>
            </figure>
            <figure><img src="assets/images/vincent-guth-182001-unsplash.png" alt="">
            <figcaption><h3>Norrsken över träd</h3></figcaption>
            </figure>
            <figure><img src="assets/images/justin-kauffman-449060-unsplash2.png" alt="">
                <figcaption><h3>en bergsstig</h3></figcaption>
            </figure>
            <figure><img src="assets/images/hanan-edwards-1136523-unsplash.png" alt="">
            <figcaption><h3>Snötäckt fjäll</h3></figcaption>
            </figure>
        </section>
        <footer>
           <section><h3>Placeholder</h3><p>Placeholder</p></section>
            <section><h3>Placeholder</h3><p>Placeholder</p></section>
            <section><h3>Placeholder</h3><p>Placeholder</p></section>
            <section><h3>Placeholder</h3></section>
        </footer>
    </body>
</html>