body {
    background: white;
}
header {
    background: #4a4343;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
h1 {
    color:white;
}
nav {
    color: white;
    background: #4a4343;
    width: 100%;
    height: 20px;
}
.main {
    display: flex;
} 
li {
    list-style-type: none;
}
.do {
    padding-right: 50px;
}
.do ul {
    background: #4a4343;
    width: 718px;
    height: 300px;
}
.eo ul {
    background: #4a4343;
    width: 400px;
    height: 100px;
}
p {
    color: white;
}
footer {
    color: white;
    background: #4a4343;
    width: 100%;
    height: 20px;
}