<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
    <body>
       <header>
            <img src="#" alt="Logo">
            <a href="#">ad placement</a>
       </header>
        <main>
            <nav><h3>Main navigation</h3></nav>
        <section class="flex">
            <ul class="left">
                <li class="row1"><p>1</p></li>
                <li class="row1"><p>2</p></li>
                <li class="row1"><p>3</p></li>
            </ul>
            <ul class="middle">   
                <li class="row2"><p>4</p></li>
                <li class="row2"><p>5</p></li>
            </ul>    
            <ul class="right">
                <li class="row3"><p>6</p></li>
                <li class="row3"><p>7</p></li>
                <li class="row3"><p>8</p></li>
            </ul>
        </section>
        </main>
        <footer><h3>Footer</h3></footer>
    </body>
</html>