header {
    display: flex;
    height: 100px;
    width: 1000px;
}
header section{
    border: 1px solid black;
    margin-right: 10px;    
}
header section:nth-child(1){
    height: 100%;
    width: 15%;
}
header section:nth-child(2){
    height: 100%;
    width: 75%;
}
header section:nth-child(3){
    height: 100%;
    width: 10%;
}
