body {
    background: darkblue;
    margin: 0px;
}
nav {
    border: 1px solid black;
}

nav ul {
    list-style-type: none;
    border: 1px solid black;
    margin: inherit; 
    display: flex;
    justify-content: space-around;
    background-color: darkblue;
}
nav ul button {
    font-size: 25px;
    background: springgreen;
    border: 1px solid black;
    margin: inherit;
}
main {
    display: flex;
    justify-content: center;
}
main section {
    margin-right: 10px;
    border: 1px solid black;
    padding-right: 30px;
    height: 280px;
    width: 150px;
    padding-left: 30px;
    background: dodgerblue;
}
main section li {
    list-style-type: none;
    display: flex;
    height: 32px;
    align-items: center;
    border: 1px solid black;
    padding: 1px;
    width: 100%;
}
main section img {
    margin-bottom: 25px;
    height: 50%;
    width: 100%;
}
main section p {
   color:black;
   height: 30px;
   margin-right: 0px;
   padding: 1px;
   width: 60px;
   font-size: 20px;
   background: white;
}
main section button {
    background: gold;
    height: 32px;
    width: 100px;
}




.fa-shopping-cart {
    color: green;
    font-size: 20px;
}
.fa-user {
    color: ivory;
    font-size: 20px;
}