h1 {
    text-align: center;
}
nav {
    margin-bottom: 30px;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
}
nav ul h3 {
    border: 1px solid black;
    margin: 10px;
}
main {
    display: flex;
    flex-flow: row;
}
main section {
    margin-right: 50px;
    border: 1px solid black;

}

