nav {
    border: 1px solid black;
}

nav ul {
    list-style-type: none;
    border: 1px solid black;
    margin: inherit; 
    display: flex;
    justify-content: space-around;
    background-color: darkblue;
}
nav ul button {
    font-size: 25px;
    border: 1px solid black;
    margin: inherit;
}
main {
    display: flex;
    justify-content: center;
}
main section {
    margin-right: 50px;
    border: 1px solid black;
    padding-right: 30px;
    padding-left: 30px;
}
main section li {
    list-style-type: none;
    display: flex;
    height: 23px;
    align-items: center;
}
main section p {
    border: 1px solid black;
   color: green;
   margin: 0px;
}
.fa-shopping-cart {
    color: green;
    font-size: 20px;
}
.fa-user {
    color: ivory;
    font-size: 20px;
}