@charset "utf-8";
body {
    background:aqua;
}
.grid {
    border: 1px solid black;
    width: 80%;
    height: 100vh;
    margin: auto;
    background: white;
    
    display: grid;
    grid-template-areas: 
        "header header header"
        "left middle right"
        "footer footer footer"
}
.grid-item {
    border: 1px solid black;
}
.grid-item:nth-child(even) {
    background: lightgreen;
}
.grid-item:nth-child(odd) {
    background: orange;
}
