@charset "utf-8";
body {
    background: darkgreen;
}
.grid {
    border: 1px solid black;
    width: 700px;
    height: 700px;
    margin: auto;
    background: white;
    
    display: grid;
    grid-template-areas: 
        "header header header"
        "left middle right"
        "yellow footer green"
}
.grid-item {
    border: 1px solid black;
}
.grid-item img {
    width: 100%;
    height: 100%;
    transition: transform .2s;
}
.grid-item img:hover {
    transform: scale(2,2);
} 